
 .App {
  text-align: center;
  /* background-color: #96afde; */
  /* color: black; */
  /* min-height: 100vh; */
  
} 


/* .header{
  background-color: aqua;
}
.footer{
  background-color: blue;
} */

/* usestate css */
/* .header {
  background-color: rgb(62, 26, 177);
  padding: 8px;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
  display: flex;
  align-items: center;
  height: 90vh;

  
}

.btn{
  background-color: rgb(14, 14, 194);
  color: white;
  margin: 5px;
  padding: 5px;
} 
.buttons{
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
} 

.head{
  color: black;
  font-size: 50px;
  margin: 10px;
} */


/* record keeping css */
/*
.record{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

}

h1{
  margin: 0;
}

.h{
  background-color:rgb(55, 129, 55);
  color: black;
  padding: 15px;
  width: 100%;

}
.form{
  margin-top: 35px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  
  
}
.data{
  margin-top: 10px;
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.val{
display: flex;
align-items: center;
justify-content: space-between;
width:50%;
padding: 0px 9px 0px 9px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}
*/

/* useeffect */
h1{
  background-color: rgb(78, 78, 230);
  padding: 14px;
}

.not{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 5px;
}




















