.App {
  text-align: center;
  /* background-color: #96afde; */
  color: aliceblue;
  min-height: 100vh;
}


/* .header{
  background-color: aqua;
}
.footer{
  background-color: blue;
} */

.header {
  background-color: rgb(62, 26, 177);
  padding: 8px;
}
